<p style="padding-top: 63px ;  "> </p>

<div style="overflow-x: hidden;">

  <div style="     padding-top: 20px;" id="sectionWrapperss" class="  bg-image">
    <div class=" imggs row">
      <div   class="  col-10">
        <div  class="  row d-flex align-center ">
          <div 
            class=  "  text col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 order-xl-1 order-lg-1 order-md-1 order-sm-1 order-1  ">
            <h1 id="heads" class="heads">Why Host A Virtual Event <br> With Imercfy?</h1>
            <p class="sub" style=" line-height: 1.5;font-size: 18px"> It’s simple – Imercfy all-in-one platform is
              backed by years of experience.
              <br> Our team of experts offer innovative virtual event solutions for any occasion.
            </p>
            <div>

            </div>
            <button class=" buts btn btn next my-2 mx-2 my-sm-0" type="button"> <strong> Enter into immersive
              </strong></button>

            <a class="learn-more" style=" text-decoration: none; color: #9e93dd;"> Explore Imercfy &nbsp;<i
                class="fa fa-angle-right" aria-hidden="true"></i></a>

          </div>
          <div
            class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 order-xl-1 order-lg-1 order-md-1 order-sm-1 order-1 ">
            <div style=" padding-top: 5px; height: 100%;"><img src="../../assets/landing/toy.png" alt="totalhrs"
                class="column-image" style=" width: 100%; height: 450px;    border-radius: 20px;">
            </div>
            <!-- <video  style= " width: 100%; height: 87%; " preload="none" alt="vFairs - Lobby" poster="" id="lobby-vdo" loop="" muted="" autoplay="" playsinline=""> 
            <source src="../../assets/videos/homepagefinal_updated-07-final.mp4" type="video/mp4">
          </video> -->
          </div>
        </div>
      </div>
    </div>
    <div style="  margin-bottom: 10rem; " class="imggs row ">
      <div class="col-10">

        <div class=" mgnt mt-2" style=" font: 31.5;  padding-top: 40px;
    text-align: center;">
          <h1 class="hh" id="heads">Why Imercfy Over Others?</h1>
          <h1 style="    color: #ffb800;" class="hh" id="heads">Visually Stunning, Memorably Epic</h1>

        </div>
        <div>
          <p class="sub mb-5 " style=" padding-top: 50px; font-size: 24px; text-align: center;">Stop boring audiences
            with events that look the same. We offer 3D Visual Designs & Animations
            that make you stand out & make <br>your sponsors dazzle.</p>
        </div>
        <div class="  row d-flex align-left ">
          <div
            class=" texts  col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 order-xl-2 order-lg-2 order-md-2 order-sm-2  order-2  ">
            <div  class="texts"style="cursor: pointer;">
              <div (click)="slider(1)" class="subs" [ngStyle]="{'background-color': text==true||def==true?'#E5EEF3':'','opacity':text==true||def==true?'1':'0.5'}">
                <p> Beautiful 3D Virtual Lobbies <i *ngIf="icon==false" class=" float-end fa fa-angle-up"></i><i
                    class="float-end fa fa-angle-down" *ngIf="icon==true"></i></p> <br>
                <p *ngIf="text==true"> Welcome your attendees with a stunning animated Virtual Lobby. </p>
                <p *ngIf="def==true"> Welcome your attendees with a stunning animated Virtual Lobby. </p>
              </div>
              <div (click)="slider(2)" class="subs" [ngStyle]="{'background-color': text1==true?'#E5EEF3':'','opacity':text1==true||def==true?'1':'0.5'}">
                <p> Easy Navigation <i *ngIf="icon1==false" class=" float-end fa fa-angle-up"></i><i
                    class="float-end fa fa-angle-down" *ngIf="icon1==true"></i>
                </p> <br>
                <p *ngIf="text1==true"> Welcome your attendees with a stunning animated Virtual Lobby. </p>
              </div>
              <div (click)="slider(3)" class="subs" [ngStyle]="{'background-color': text2==true?'#E5EEF3':'','opacity':text2==true||def==true?'1':'0.5'}">
                <p> Interactive Exhibitor Booths <i *ngIf="icon2==false" class=" float-end fa fa-angle-up"></i><i
                    class="float-end fa fa-angle-down" *ngIf="icon2==true"></i></p> <br>
                <p *ngIf="text2==true"> Welcome your attendees with a stunning animated Virtual Lobby. </p>
              </div>
              <div (click)="slider(4)" class="subs" [ngStyle]="{'background-color': text3==true?'#E5EEF3':'','opacity':text3==true||def==true?'1':'0.5'}">
                <p> Stunning Virtual Auditoriums <i *ngIf="icon3==false" class=" float-end fa fa-angle-up"></i><i
                    class="float-end fa fa-angle-down" *ngIf="icon3==true"></i></p> <br>
                <p *ngIf="text3==true"> Welcome your attendees with a stunning animated Virtual Lobby. </p>
              </div>
              <div (click)="slider(5)" class="subs" [ngStyle]="{'background-color': text4==true?'#E5EEF3':'','opacity':text4==true||def==true?'1':'0.5'}">
                <p> Diverse Virtual Avatars <i *ngIf="icon4==false" class=" float-end fa fa-angle-up"></i><i
                    class="float-end fa fa-angle-down" *ngIf="icon4==true"></i></p> <br>
                <p *ngIf="text4==true"> Welcome your attendees with a stunning animated Virtual Lobby. </p>
              </div>

            </div>
            <div>

            </div>


            <a class="learn-more" style="  cursor: pointer; text-decoration: none; color: #9e93dd;"> See All Features Of Virtual Event
              &nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>

          </div>
          <div 
            class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 order-xl-2 order-lg-2 order-md-2 order-sm-2  order-2 ">
            <div *ngIf="image1==false" style=" padding-top: 5px; height: 100%;   "><img src="../../assets/landing/toy.png"
                alt="totalhrs" class="column-image" style=" width: 100%; height: 450px;    border-radius: 20px;">
            </div>
            <div *ngIf="image1==true" style=" padding-top: 5px; height: 100%;"><img src={{image}} alt="totalhrs"
                class="column-image" style=" width: 100%; height: 450px;    border-radius: 20px;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div  class=" imggs row">
  <div  class="  col-10">
    <div class="  row d-flex align-center ">

      <div
        class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 order-xl-1 order-lg-1 order-md-2 order-sm-1  order-1 ">
        <div style=" padding-top: 5px; height: 100%;"><img src="../../assets/whyimer/Youre-in-experienced-hands.webp" alt="totalhrs"
            class="column-image" style=" width: 100%; height: 450px;    border-radius: 20px;">
        </div>
        <!-- <video  style= " width: 100%; height: 87%; " preload="none" alt="vFairs - Lobby" poster="" id="lobby-vdo" loop="" muted="" autoplay="" playsinline=""> 
        <source src="../../assets/videos/homepagefinal_updated-07-final.mp4" type="video/mp4">
      </video> -->
      </div>
      <div 
        class=" text  col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 order-xl-1 order-lg-1 order-md-1 order-sm-1 order-1  ">
        <h1 id="heads" class="heads">You're In <br> Experienced Hands </h1>
        <p class="sub" style=" line-height: 1.5;font-size: 18px"> We’ve hosted thousands of online events across several
          industries.

        </p>
        <div>

        </div>
        <button class="btn btn next my-2 mx-2 my-sm-0" type="button"> <strong> Host A Virtual Event
          </strong></button>

        <a class="learn-more" style=" text-decoration: none; color: #9e93dd;"> See All Virtual Event &nbsp;<i
            class="fa fa-angle-right" aria-hidden="true"></i></a>

      </div>

    </div>
    <section class="y-vfairs-experience-hands why-background-dotted">
      <div class="row">
        <div class=" double card col-lg-6 col-md-12 col-sm-12  inner-white-bg img-fluid "> <img width="100%" height="auto"
            src="https://www.vfairs.com/wp-content/uploads/2021/07/Big-Or-Small-We-Handle-Them-All-min-min.png"
            class="attachment-large size-large" alt="" loading="lazy">
          <h2>Big or Small, we handle them all</h2>
          <p></p>
          <p>Whether you’re invited a small pool of attendees for a private training or opening up doors to thousands across
            the world, we’ve got you covered.</p>
          <p></p>
        </div>
        <div class=" card col-lg-6 col-md-12 col-sm-12  inner-white-bg img-fluid"> <img width="100%" height="auto"
            src="https://www.vfairs.com/wp-content/uploads/2021/07/Online-Events-That-Adapt-To-Your-Goal-min.png"
            class="attachment-large size-large" alt="" loading="lazy">
          <h2>Online events that adapt to your goal</h2>
          <p></p>
          <p>Hosting a tradeshow? Turn on our shopping cart feature. Conducting a job fair? Let’s add in a job board. We’re
            not a one-size-fits-all sweat shop.</p>
          <p></p>
        </div>
      </div>
    </section>
  </div>
</div>

<div class=" imggs row">
  <div class="  col-10">
    <div class="  row d-flex align-center ">
      <div
        class=" text  col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 order-xl-1 order-lg-1 order-md-1 order-sm-1 order-1  ">
        <h1 id="heads" class="heads">Out Of This World <br> Customer Support</h1>
        <p class="sub" style=" line-height: 1.5;font-size: 18px"> We don’t just hand you a rock solid technology. Our team of passionate event experts guide
         you through the process from concept to curtain call. We win only if you win.
        </p>
        <div>

        </div>
        <button class="btn btn next my-2 mx-2 my-sm-0" type="button"> <strong> Host a Virtual Event
          </strong></button>

        <a class="learn-more" style="   text-decoration: none; color: #9e93dd;"> See All Virtual Events &nbsp;<i
            class=" virtual fa fa-angle-right" aria-hidden="true"></i></a>

      </div>
      <div
        class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 order-xl-2 order-lg-2 order-md-2 order-sm-2  order-2 ">
        <div style=" padding-top: 5px; height: 100%;"><img src="../../assets/whyimer/customer-support-min.png" alt="totalhrs"
            class="column-image" style=" width: 100%; height: 450px;    border-radius: 20px;">
        </div>
        <!-- <video  style= " width: 100%; height: 87%; " preload="none" alt="vFairs - Lobby" poster="" id="lobby-vdo" loop="" muted="" autoplay="" playsinline=""> 
        <source src="../../assets/videos/homepagefinal_updated-07-final.mp4" type="video/mp4">
      </video> -->
      </div>
    </div>
  </div>
</div>


<div style="  margin-bottom: 10rem; " class="imggs row ">
  <div class="col-10">

    <!-- <div class=" mgnt mt-2" style=" font: 31.5;  padding-top: 40px;
text-align: center;">
      <h1 class="hh" id="heads">Why Imercfy Over Others?</h1>
      <h1 style="    color: #ffb800;" class="hh" id="heads">Visually Stunning, Memorably Epic</h1>

    </div> -->
    <!-- <div>
      
      <p class="sub mb-5 " style=" padding-top: 50px; font-size: 24px; text-align: center;">Stop boring audiences
        with events that look the same. We offer 3D Visual Designs & Animations
        that make you stand out & make <br>your sponsors dazzle.</p>
    </div> -->
    <div
    class=" text  col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 order-xl-1 order-lg-1 order-md-1 order-sm-1 order-1  ">
    <h1 id="heads" class="heads">Benefits of <br> Virtual Events    </h1>
    <p class="sub" style=" line-height: 1.5;font-size: 18px"> See why companies worldwide are choosing virtual<br> event solutions 
      over costly in-person events and unengaging webinar series.
    </p>
    <div>

    </div>

   

  </div>
      <div class="  row d-flex align-center ">
        <div
        class=" texts  col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 order-xl-2 order-lg-2 order-md-2 order-sm-2  order-2  ">
        <div  class="texts" style="cursor: pointer;">
          <div (click)="slider(1)" class="subs" [ngStyle]="{'background-color': text==true||def==true?'#FFF4F0':'','opacity':text==true||def==true?'1':'0.5'}">
            <p> Beautiful 3D Virtual Lobbies <i *ngIf="icon==false" class=" float-end fa fa-angle-up"></i><i
                class="float-end fa fa-angle-down" *ngIf="icon==true"></i></p> <br>
            <p *ngIf="text==true"> Welcome your attendees with a stunning animated Virtual Lobby. </p>
            <p *ngIf="def==true"> Welcome your attendees with a stunning animated Virtual Lobby. </p>
          </div>
          <div (click)="slider(2)" class="subs" [ngStyle]="{'background-color': text1==true?'#FFF4F0':'','opacity':text1==true||def==true?'1':'0.5'}">
            <p> Easy Navigation <i *ngIf="icon1==false" class=" float-end fa fa-angle-up"></i><i
                class="float-end fa fa-angle-down" *ngIf="icon1==true"></i>
            </p> <br>
            <p *ngIf="text1==true"> Welcome your attendees with a stunning animated Virtual Lobby. </p>
          </div>
          <div (click)="slider(3)" class="subs" [ngStyle]="{'background-color': text2==true?'#FFF4F0':'','opacity':text2==true||def==true?'1':'0.5'}">
            <p> Interactive Exhibitor Booths <i *ngIf="icon2==false" class=" float-end fa fa-angle-up"></i><i
                class="float-end fa fa-angle-down" *ngIf="icon2==true"></i></p> <br>
            <p *ngIf="text2==true"> Welcome your attendees with a stunning animated Virtual Lobby. </p>
          </div>
          <div (click)="slider(4)" class="subs" [ngStyle]="{'background-color': text3==true?'#FFF4F0':'','opacity':text3==true||def==true?'1':'0.5'}">
            <p> Stunning Virtual Auditoriums <i *ngIf="icon3==false" class=" float-end fa fa-angle-up"></i><i
                class="float-end fa fa-angle-down" *ngIf="icon3==true"></i></p> <br>
            <p *ngIf="text3==true"> Welcome your attendees with a stunning animated Virtual Lobby. </p>
          </div>
          <div (click)="slider(5)" class="subs" [ngStyle]="{'background-color': text4==true?'#FFF4F0':'','opacity':text4==true||def==true?'1':'0.5'}">
            <p> Diverse Virtual Avatars <i *ngIf="icon4==false" class=" float-end fa fa-angle-up"></i><i
                class="float-end fa fa-angle-down" *ngIf="icon4==true"></i></p> <br>
            <p *ngIf="text4==true"> Welcome your attendees with a stunning animated Virtual Lobby. </p>
          </div>

        </div>
        <div>

        </div>


        <a class="learn-more" style="  cursor: pointer; text-decoration: none; color: #9e93dd;"> See All Features Of Virtual Event
          &nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>

      </div>
      <div 
        class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 order-xl-2 order-lg-2 order-md-2 order-sm-2  order-2 ">
        <div *ngIf="image1==false" style=" padding-top: 5px; height: 100%;   "><img src="../../assets/landing/toy.png"
            alt="totalhrs" class="column-image" style=" width: 100%; height: 450px;    border-radius: 20px;">
        </div>
        <div *ngIf="image1==true" style=" padding-top: 5px; height: 100%;"><img src={{image2}} alt="totalhrs"
            class="column-image" style=" width: 100%; height: 450px;    border-radius: 20px;">
        </div>
      </div>
    </div> 
  </div>
</div> 

<!-- <div class=" col-lg-12 col-md-4 col-sm- cent row" >
  <div class=" centu d-flex   col-8" >
  <div class="  col-5" >
    <h1 class="want" >Want to Learn More?</h1>
    <p class="our"  >Our team of experts is here to help you see all the possibilities of a Immercfy virtual event. 
      Request a demo, or browse our thought leadership to see more!</p>
      <button class="btn btn next my-2 mx-2 my-sm-0" type="button"> <strong> Request A Demo
      </strong></button>

  </div>
  <div class=" float-end d-flex col-5" >
    <div class="card" >
      <div class="see" >See What's Possible</div>
      <div classs="textss" >Discover how to plan your best virtual event yet, be inspired by our customer stories, and read industry insights from our blog!</div>
      <div> <a class="learn-more" style=" text-decoration: none; color: #9e93dd;"> Read Our Blogs
        &nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
    </div>
    <div class=" sec-card card">
      <div class="see" >Want More Information?</div>
      <div classs="textss">Contact our sales team today to learn more about how vFairs can help you drive results with a custom virtual event.</div>
      <div> <a class="learn-more" style=" text-decoration: none; color: #9e93dd;"> Contact Us
        &nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
    </div>
    <div>

    </div>
  </div>
</div>
</div> -->

<div class="container" >
  <div class="row  " style="background-color: #fff7e2;  border-radius: 20px;  padding: 30px;  "   >
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" >
      <h1 class="want" >Want to Learn More?</h1>
      <p class="our"  >Our team of experts is here to help you see all the possibilities of a Immercfy virtual event. 
        Request a demo, or browse our thought leadership to see more!</p>
        <button class="btn btn next my-2 mx-2 my-sm-0" type="button"> <strong> Request A Demo
        </strong></button>

    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" >
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6" >
          <div class=" sec-card card">
            <div class="see" >Want More Information?</div>
            <div style="padding-top: 1rem; padding-bottom:1rem;" classs=" textss">Contact our sales team today to learn more about how Imercfy can help you drive results with a custom virtual event.</div>
            <div> <a class="learn-more" style=" text-decoration: none; color: #9e93dd;"> Contact Us
              &nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6" >
    
          <div class=" sec-card card">
            <div class="see" >Want More Information?</div>
            <div style="padding-top: 1rem; padding-bottom:1rem;" classs="textss">Contact our sales team today to learn more about how Imercfy can help you drive results with a custom virtual event.</div>
            <div> <a class="learn-more" style=" text-decoration: none; color: #9e93dd;"> Contact Us
              &nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
  </div>

  </div>
</div>


<div class=" mgnt mt-2" style=" font: 31.5;  padding-top: 40px;
text-align: center;">
      <h1 class="hh" id="heads">Customer Success Stories</h1>
      <h1  class="hh" id="heads">Hear why our customers love us!</h1>

    </div>
    <!-- <div>
       <video  style= " width: 100%; height: 87%; " preload="none" alt="vFairs - Lobby" poster="" id="lobby-vdo" loop="" muted="" autoplay="" playsinline=""> 
        <source src="../../assets/videos/homepagefinal_updated-07-final.mp4" type="video/mp4">
      </video>
      <video  style= " width: 100%; height: 87%; " preload="none" alt="vFairs - Lobby" poster="" id="lobby-vdo" loop="" muted="" autoplay="" playsinline=""> 
        <source src="../../assets/videos/homepagefinal_updated-07-final.mp4" type="video/mp4">
      </video>
      <video  style= " width: 100%; height: 87%; " preload="none" alt="vFairs - Lobby" poster="" id="lobby-vdo" loop="" muted="" autoplay="" playsinline=""> 
        <source src="../../assets/videos/homepagefinal_updated-07-final.mp4" type="video/mp4">
      </video>
      
    </div> -->
    <div class="imggs row" >
<div class=" col-10"  >
    <div  class= " hh  row row-cols-1 row-cols-md-3 g-4">
      <div class=" boxing  grid-content ">
        <div class="card h-100 flyer border-0">
          <!-- <video  style= " width: 100%; height: 87%; " preload="none" alt="vFairs - Lobby" poster="" id="lobby-vdo" loop="" muted="" autoplay="" playsinline=""> 
            <source src="../../assets/videos/homepagefinal_updated-07-final.mp4" type="video/mp4">
          </video> -->
          <img src="../../assets/landing/Wedding1.jpg" class="w-100 "
            style="     border-radius: 10px; background-color: white;height: 58%; margin: 0;">
      
        </div>
      </div>
      <div class=" boxing  grid-content ">
        <div class="card h-100 flyer border-0">
          <!-- <video  style= " width: 100%; height: 87%; " preload="none" alt="vFairs - Lobby" poster="" id="lobby-vdo" loop="" muted="" autoplay="" playsinline=""> 
            <source src="../../assets/videos/homepagefinal_updated-07-final.mp4" type="video/mp4">
          </video> -->
          <img src="../../assets/landing/Wedding1.jpg" class="w-100 "
            style="     border-radius: 10px; background-color: white;height: 58%; margin: 0;">
      
        </div>
       
      </div>
      <div class=" boxing  grid-content ">
        <div class="card h-100 flyer border-0">
          <!-- <video  style= " width: 100%; height: 87%; " preload="none" alt="vFairs - Lobby" poster="" id="lobby-vdo" loop="" muted="" autoplay="" playsinline=""> 
            <source src="../../assets/videos/homepagefinal_updated-07-final.mp4" type="video/mp4">
          </video> -->
          <img src="../../assets/landing/Wedding1.jpg" class="w-100 "
            style="     border-radius: 10px; background-color: white;height: 58%; margin: 0;">
      
        </div>
       
     
      </div>

    </div>
  </div>

</div>
<div style="text-align: center; padding-top: 3rem;" >

  <button style="align-items: center;text-align: center; width: 250px; " class="btn btn next my-2 mx-2 my-sm-0  "
    type="button">View All Video Stories </button>
</div>


<div class="  img-fluid gnt mt-2" style=" font: 31.5;  padding-top: 40px;
text-align: center;">
      <h1 style=" display:block;  " class="hh" id="heads">More Customers That Trust Imercfy For Their</h1>
      <h1 style="color: #f96634  ; display:block; margin-bottom: 3rem;  "  class="hh" id="heads">Virtual Events</h1>
      <img class="col-10" src="../../assets/landing/all_logos-min.webp" alt="">

    </div>
    <div class="imggs row" >
      <div class=" col-10 ">
        <div style="padding-top: 110px;" class=" mt-8 row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 ">
            <div class="d-flex-column">
              <div>  <img style="width: 150px;" src="../../assets/landing/imercfy-09.png" alt=""> </div>
              <div style="    padding-top: 15px; padding-bottom: 15px;       " >Highest rated hybrid, in-person and <br> virtual events platform
      
              </div>
              <button style="align-items: center;text-align: center; width: 150px; " class="btn btn next  my-2 mx-2 my-sm-0  "
                type="button">Talk to Us </button>
            </div>
          </div>
      
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
            <div id="sectionWrapper" class=" mt-5 logo-row   bg-image">
      
              <div class="">
                <div class="row  align-center-middle ">
                  <div class="col large-auto medium-auto small-3 text-center mb-3">
                    <img style="width: 100px;"
                      src="https://www.vfairs.com/wp-content/uploads/2022/03/capterra-badge2-min-1-1.webp"
                      class="full-width-image" alt="Logo BambooHR">
                  </div>
                  <div class="col large-auto medium-auto small-3 text-center mb-3">
                    <img style="width: 100px;"
                      src="https://www.vfairs.com/wp-content/themes/vfairs/assets/img/footer/customer-love-sourceforge-badge-min.webp"
                      class="full-width-image" alt="Logo Discord">
                  </div>
                  <div class="col large-auto medium-auto small-3 text-center mb-3">
                    <img src="../../assets/landing/leader-spring-2022.svg" class="full-width-image" alt="Logo Slack">
                  </div>
                  <div class="col large-auto medium-auto small-3 text-center mb-3">
                    <img src="../../assets/landing/leader-spring-2022.svg" class="full-width-image" alt="Logo logo-">
                  </div>
                  <div class="col large-auto medium-auto small-3 text-center mb-3">
                    <img src="../../assets/landing/leader-spring-2022.svg" class="full-width-image" alt="Logo logo-">
                  </div>
      
                </div>
              </div>
            </div>
      
          </div>
        </div>
      </div>
      </div>

      <!-- <div>

        <div >
          <h1 (click)="activeStatus('Product')" [ngClass]="isBottom ? defaultStatus =='Product'? 'isActive' : 'hovered' : 'head'" >welcome</h1>
          <p [ngClass]="isBottom ? defaultStatus =='Product'? 'isActive' : 'hovered' : 'head'">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem culpa voluptatum soluta obcaecati et veniam voluptates exercitationem reiciendis voluptas 
            dolorem, sit incidunt optio odio reprehenderit in laudantium consectetur ut laborum?</p>
        </div>
      </div> -->
      