<div class="row px-0 mx-0 color">
  <div class="">
    <footer class="row py-4 ">
      <div class="col-xl-3 col-md-3 pt-2">
        <p class="mx-auto  py-0 mt-2 cen"> <img class="mx-0" src="../../assets/landing/imercfy-09.png" width="180px;"
            height="180px;"></p>
      </div>
      <div class="col-xl-5 col-md-3 ">
        <!-- <p class="mx-auto text-center py-4" routerLink="/about" routerLinkActive="active"style="width: fit-content; cursor: pointer;">About</p> -->
        <!-- <p class="mx-auto py-4 mt-0 cen" routerLink="/about" routerLinkActive="active" style=" cursor: pointer;">About
          <span></span></p> -->

      </div>
      <div class="col-xl-4 col-md-6  py-4 cen " style="cursor: pointer;">
        © 2022 Imercify &nbsp;|&nbsp;<a href="/privacy-policy/" title="Privacy Policy" routerLink="/policy"
          routerLinkActive="active">Privacy Policy</a>&nbsp;|&nbsp;<span>Terms of Service</span>
        <div></div>
      </div>
    </footer>
    <!-- </div> -->
  </div>
  <!-- 
  <div class="container" >
    <div class="row" >
      <div class="col-6" >
        Copyright © 2022 Imercfy
      </div>
      <div class="col-6" >
        <ul class="d-flex" style="list-style-type: none;justify-content: space-between;">
          <li>Status</li>
          <li>Privacy Policy</li>
          <li>Trust Centre</li>
          <li>SLA</li>
          <li>Global DPA</li>
          <li>Terms Of Service</li>

        </ul>
      </div>
    </div>
  </div> -->
  <!-- <div class="footer-end">
    <div class="row">
      <div class="col-4">
        <div class="copyright-sec"><span>Copyright © 2022 vFairs</span></div>
      </div>
      <div class="col-8">
        <ul class="links-privacy">
          <li><a target="_blank" rel="noopener noreferrer nofollow" href="https://status.vfairs.com/">Status</a></li>
          <li><a href="https://www.vfairs.com/privacy-policy/">Privacy Policy</a></li>
          <li><a href="https://security.vfairs.com/" target="_blank" rel="noopener noreferrer nofollow">Trust Centre</a>
          </li>
          <li><a href="https://www.vfairs.com/service-level-agreement/">SLA</a></li>
          <li><a href="https://www.vfairs.com/global-data-processing-addendum/">Global DPA</a></li>
          <li><a href="https://www.vfairs.com/terms-of-service/">Terms Of Service</a></li>
        </ul>
      </div>
    </div>
  </div> -->