<div class=" mgnt mt-2" style=" font: 31.5;  padding-top: 130px; padding-bottom: 160px;
text-align: center;">
      <h4 style="padding-top: 3rem; color: #9e93dd; " class="hh mt-5"   id="heads">ALL FEATURES    </h4>
      <h1 style="padding-top: 1rem;" class="mb-3" id="heads">All the Ingredients to Host a Successful <br> Virtual or Hybrid Event</h1>
      <h4 class="mb-5 mt-3" id="heads">Imercfy virtual events platform offers a broad range of solutions to help you take your events online. </h4>
    <button class="btn btn next my-2 mx-2 my-sm-0 mb-3 " type="button"> <strong> Schedule a demo </strong></button>

  
</div>
<div class="" style=" font: 31.5; 
text-align: center;">

    <h1 style="padding-top: 5rem;" class="mb-3" id="heads">Use Our Full Suite of Features for All <br>
        Your Event Needs</h1>
      <h4 class="mb-5 mt-3" id="heads">The best part about Imercfy virtual and hybrid events? Our wide range of features <br> support any type of event you can dream up.    </h4>

    </div>



    <div>
      <!-- <p class="sub mb-5 " style=" padding-top: 50px; font-size: 24px; text-align: center;">Stop boring audiences
        with events that look the same. We offer 3D Visual Designs & Animations
        that make you stand out & make <br>your sponsors dazzle.</p> -->
    </div>
    
    <div class=" gh row" >
      <div class="col-10" >
       
    <div class="  row d-flex align-left ">
      <div
        class=" texts  col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 order-xl-2 order-lg-2 order-md-2 order-sm-2  order-2  ">
        <div  class="texts">
          <div
          class=" text  ">
          <h1 id="heads" class="heads">Super Simple Event Setup </h1>
          <p class="sub" style=" line-height: 1.5;font-size: 18px"> The Imercfy experience combines easy setup with dedicated end-to-end<br> support so 
            you can create incredible virtual experiences.
          </p>
        </div>
          <div (click)="slider(1)" class="subs"[ngStyle]="{'background-color': text==true?'#E5EEF3':'','box-shadow': text==true?'0 4px 8px 0 rgba(0,0,0,0.2)':''}">
            <p><b> Make a Splash with a Custom Landing Page</b><i *ngIf="icon==false" class=" float-end fa fa-angle-up"></i><i
                class="float-end fa fa-angle-down" *ngIf="icon==true"></i></p> <br>
            <!-- <p *ngIf="text==true"> Welcome your attendees with a stunning animated Virtual Lobby. </p> -->
            <p *ngIf="text==true" > Nail your first impression with a beautiful, custom event landing page and registration </p>
          </div>
          <div (click)="slider(2)" class="subs" [ngStyle]="{'background-color': text1==true?'#E5EEF3':'','box-shadow': text1==true?'0 4px 8px 0 rgba(0,0,0,0.2)':''}">
            <p><b> Design a Custom 3D Virtual Venue </b><i *ngIf="icon1==false" class=" float-end fa fa-angle-up"></i><i
                class="float-end fa fa-angle-down" *ngIf="icon1==true"></i>
            </p> <br>
            <p *ngIf="text1==true" style="  line-height: 22px;"> Make your attendees feel at home. Customizable 3D virtual environments can be modelled after any real life venue! </p>
          </div>
          <div (click)="slider(3)" class="subs" [ngStyle]="{'background-color': text2==true?'#E5EEF3':'','box-shadow': text2==true?'0 4px 8px 0 rgba(0,0,0,0.2)':''}">
            <p> <b>Control Customizations in Our Event Builder</b> <i *ngIf="icon2==false" class=" float-end fa fa-angle-up"></i><i
                class="float-end fa fa-angle-down" *ngIf="icon2==true"></i></p> <br>
            <p *ngIf="text2==true" style="  line-height: 22px;"> Imercfy backend system gives you full control of webinar schedules, exhibit booths, user access and more. </p>
          </div>
          <div (click)="slider(4)" class="subs" [ngStyle]="{'background-color': text3==true?'#E5EEF3':'','box-shadow': text3==true?'0 4px 8px 0 rgba(0,0,0,0.2)':''}">
            <p> <b> Attendance Rates through Email Marketing </b><i *ngIf="icon3==false" class=" float-end fa fa-angle-up"></i><i
                class="float-end fa fa-angle-down" *ngIf="icon3==true"></i></p> <br>
            <p *ngIf="text3==true" style="  line-height: 22px;"> Send custom-designed emails to segmented lists for pre, during, and post-event communications. </p>
          </div>
          <div (click)="slider(5)" class="subs" [ngStyle]="{'background-color': text4==true?'#E5EEF3':'','box-shadow': text4==true?'0 4px 8px 0 rgba(0,0,0,0.2)':''}">
            <p><b> Rest Easy with the Help of Customer Support </b><i *ngIf="icon4==false" class=" float-end fa fa-angle-up"></i><i
                class="float-end fa fa-angle-down" *ngIf="icon4==true"></i></p> <br>
            <p *ngIf="text4==true" style="  line-height: 22px;"> You’re in good hands with a dedicated project manager who will walk you through the process from end to end.</p>
          </div>

        </div>
       


        <!-- <a class="learn-more" style="   text-decoration: none; color: #9e93dd;"> See All Features Of Virtual Event
          &nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a> -->

      </div>
      <div 
        class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 order-xl-2 order-lg-2 order-md-2 order-sm-2  order-2 ">
        <div *ngIf="image1==false" style=" padding-top: 5px; height: 100%;   "><img src="../../assets/landing/toy.png"
            alt="totalhrs" class="column-image" style=" width: 100%; height: 450px;    border-radius: 20px;">
        </div>
        <div *ngIf="image1==true" style=" padding-top: 5px; height: 100%;"><img src={{image}} alt="totalhrs"
            class="column-image" style=" width: 100%; height: 450px;    border-radius: 20px;">
        </div>
      </div>
    </div>
  </div>
</div>

  <div style="padding-top: 8rem;" class=" green gh row" >
      <div class=" col-10" >
    
    <div class="  row d-flex align-left ">
     
      <div 
        class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 order-xl-2 order-lg-2 order-md-2 order-sm-2  order-2 ">
        <div *ngIf="image1==false" style=" padding-top: 5px; height: 100%;   "><img src="../../assets/landing/toy.png"
            alt="totalhrs" class="column-image" style=" width: 100%; height: 450px;    border-radius: 20px;">
        </div>
        <div *ngIf="image1==true" style=" padding-top: 5px; height: 100%;"><img src={{image}} alt="totalhrs"
            class="column-image" style=" width: 100%; height: 450px;    border-radius: 20px;">
        </div>
      </div>
      <div
      class=" texts  col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 order-xl-2 order-lg-2 order-md-2 order-sm-2  order-2  ">
      
      <div   class="texts">
       <div class=" text  ">
        <h1 id="heads" class="heads">Unforgettable Virtual Venues </h1>
        <p class="sub" style=" line-height: 1.5;font-size: 18px"> Brace for high-impact, beautiful virtual venues that are user-friendly <br> even for the least tech-savvy audiences.
        </p>
      </div>
        <div (click)="slider(1)" class="  subs"[ngStyle]="{'background-color': text==true?'#E5EEF3':'','box-shadow': text==true?'0 4px 8px 0 rgba(0,0,0,0.2)':''}">
          <p><b> Make a Splash with a Custom Landing Page</b><i *ngIf="icon==false" class=" float-end fa fa-angle-up"></i><i
              class="float-end fa fa-angle-down" *ngIf="icon==true"></i></p> <br>
          <!-- <p *ngIf="text==true"> Welcome your attendees with a stunning animated Virtual Lobby. </p> -->
          <p *ngIf="text==true" style="  line-height: 22px;" > Nail your first impression with a beautiful, custom event landing page and registration </p>
        </div>
        <div (click)="slider(2)" class="subs"[ngStyle]="{'background-color': text1==true?'#E5EEF3':'','box-shadow': text1==true?'0 4px 8px 0 rgba(0,0,0,0.2)':''}">
          <p><b> Design a Custom 3D Virtual Venue </b><i *ngIf="icon1==false" class=" float-end fa fa-angle-up"></i><i
              class="float-end fa fa-angle-down" *ngIf="icon1==true"></i>
          </p> <br>
          <p *ngIf="text1==true" style="  line-height: 22px;"> Make your attendees feel at home. Customizable 3D virtual environments can be modelled after any real life venue! </p>
        </div>
        <div (click)="slider(3)" class="subs"[ngStyle]="{'background-color': text2==true?'#E5EEF3':'','box-shadow': text2==true?'0 4px 8px 0 rgba(0,0,0,0.2)':''}">
          <p> <b>Control Customizations in Our Event Builder</b> <i *ngIf="icon2==false" class=" float-end fa fa-angle-up"></i><i
              class="float-end fa fa-angle-down" *ngIf="icon2==true"></i></p> <br>
          <p *ngIf="text2==true" style="  line-height: 22px;"> Imercfy backend system gives you full control of webinar schedules, exhibit booths, user access and more. </p>
        </div>
        <div (click)="slider(4)" class="subs"[ngStyle]="{'background-color': text3==true?'#E5EEF3':'','box-shadow': text3==true?'0 4px 8px 0 rgba(0,0,0,0.2)':''}">
          <p> <b> Attendance Rates through Email Marketing </b><i *ngIf="icon3==false" class=" float-end fa fa-angle-up"></i><i
              class="float-end fa fa-angle-down" *ngIf="icon3==true"></i></p> <br>
          <p *ngIf="text3==true" style="  line-height: 22px;"> Send custom-designed emails to segmented lists for pre, during, and post-event communications. </p>
        </div>
        <div (click)="slider(5)" class="subs"[ngStyle]="{'background-color': text4==true?'#E5EEF3':'','box-shadow': text4==true?'0 4px 8px 0 rgba(0,0,0,0.2)':''}">
          <p><b> Rest Easy with the Help of Customer Support </b><i *ngIf="icon4==false" class=" float-end fa fa-angle-up"></i><i
              class="float-end fa fa-angle-down" *ngIf="icon4==true"></i></p> <br>
          <p *ngIf="text4==true" style="  line-height: 22px;"> You’re in good hands with a dedicated project manager who will walk you through the process from end to end.</p>
        </div>

      </div>


      <!-- <a class="learn-more" style="   text-decoration: none; color: #9e93dd;"> See All Features Of Virtual Event
        &nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a> -->

    </div>
    </div>
  </div>
</div>

<div class=" gh row" >
  <div class="col-10" >
   
<div style="padding-top: 8rem;" class="  row d-flex align-left ">
  <div
    class=" texts  col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 order-xl-2 order-lg-2 order-md-2 order-sm-2  order-2  ">
    <div  class="texts">
      <div
      class=" text  ">
      <h1 id="heads" class="heads">Irresistibly Engaging <br> Activities </h1>
      <p class="sub" style=" line-height: 1.5;font-size: 18px"> Stop hoping for ‘engagement’ and start getting people active and <br>
        excited about your virtual event with our awesome features.
      </p>
    </div>
      <div (click)="slider(1)" class="subs"[ngStyle]="{'background-color': text==true?'#E5EEF3':'','box-shadow': text==true?'0 4px 8px 0 rgba(0,0,0,0.2)':''}">
        <p><b> Connect Globally with Networking Features</b><i *ngIf="icon==false" class=" float-end fa fa-angle-up"></i><i
            class="float-end fa fa-angle-down" *ngIf="icon==true"></i></p> <br>
        <!-- <p *ngIf="text==true"> Welcome your attendees with a stunning animated Virtual Lobby. </p> -->
        <p *ngIf="text==true" > Nail your first impression with a beautiful, custom event landing page and registration </p>
      </div>
      <div (click)="slider(2)" class="subs" [ngStyle]="{'background-color': text1==true?'#E5EEF3':'','box-shadow': text1==true?'0 4px 8px 0 rgba(0,0,0,0.2)':''}">
        <p><b> Lighten Things Up with Gamification Features </b><i *ngIf="icon1==false" class=" float-end fa fa-angle-up"></i><i
            class="float-end fa fa-angle-down" *ngIf="icon1==true"></i>
        </p> <br>
        <p *ngIf="text1==true" style="  line-height: 22px;"> Make your attendees feel at home. Customizable 3D virtual environments can be modelled after any real life venue! </p>
      </div>
      <div (click)="slider(3)" class="subs" [ngStyle]="{'background-color': text2==true?'#E5EEF3':'','box-shadow': text2==true?'0 4px 8px 0 rgba(0,0,0,0.2)':''}">
        <p> <b>Start the Conversation with our Chat Features</b> <i *ngIf="icon2==false" class=" float-end fa fa-angle-up"></i><i
            class="float-end fa fa-angle-down" *ngIf="icon2==true"></i></p> <br>
        <p *ngIf="text2==true" style="  line-height: 22px;"> Imercfy backend system gives you full control of webinar schedules, exhibit booths, user access and more. </p>
      </div>
      <div (click)="slider(4)" class="subs" [ngStyle]="{'background-color': text3==true?'#E5EEF3':'','box-shadow': text3==true?'0 4px 8px 0 rgba(0,0,0,0.2)':''}">
        <p> <b> Make Your Event Accessible to Anyone</b><i *ngIf="icon3==false" class=" float-end fa fa-angle-up"></i><i
            class="float-end fa fa-angle-down" *ngIf="icon3==true"></i></p> <br>
        <p *ngIf="text3==true" style="  line-height: 22px;"> Send custom-designed emails to segmented lists for pre, during, and post-event communications. </p>
      </div>
      <div (click)="slider(5)" class="subs" [ngStyle]="{'background-color': text4==true?'#E5EEF3':'','box-shadow': text4==true?'0 4px 8px 0 rgba(0,0,0,0.2)':''}">
        <p><b> Localize Your Global Event </b><i *ngIf="icon4==false" class=" float-end fa fa-angle-up"></i><i
            class="float-end fa fa-angle-down" *ngIf="icon4==true"></i></p> <br>
        <p *ngIf="text4==true" style="  line-height: 22px;"> You’re in good hands with a dedicated project manager who will walk you through the process from end to end.</p>
      </div>

    </div>
   


    <!-- <a class="learn-more" style="   text-decoration: none; color: #9e93dd;"> See All Features Of Virtual Event
      &nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a> -->

  </div>
  <div 
    class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 order-xl-2 order-lg-2 order-md-2 order-sm-2  order-2 ">
    <div *ngIf="image1==false" style=" padding-top: 5px; height: 100%;   "><img src="../../assets/landing/toy.png"
        alt="totalhrs" class="column-image" style=" width: 100%; height: 450px;    border-radius: 20px;">
    </div>
    <div *ngIf="image1==true" style=" padding-top: 5px; height: 100%;"><img src={{image}} alt="totalhrs"
        class="column-image" style=" width: 100%; height: 450px;    border-radius: 20px;">
    </div>
  </div>
</div>
</div>
</div>


<div style="padding-top: 8rem;" class="  gh row" >
  <div class=" col-10" >

<div class="  row d-flex align-left ">
 
  <div 
    class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 order-xl-2 order-lg-2 order-md-2 order-sm-2  order-2 ">
    <div *ngIf="image1==false" style=" padding-top: 5px; height: 100%;   "><img src="../../assets/landing/toy.png"
        alt="totalhrs" class="column-image" style=" width: 100%; height: 450px;    border-radius: 20px;">
    </div>
    <div *ngIf="image1==true" style=" padding-top: 5px; height: 100%;"><img src={{image}} alt="totalhrs"
        class="column-image" style=" width: 100%; height: 450px;    border-radius: 20px;">
    </div>
  </div>
  <div
  class=" texts  col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 order-xl-2 order-lg-2 order-md-2 order-sm-2  order-2  ">
  
  <div   class="texts">
   <div class=" text  ">
    <h1 id="heads" class="heads">Tools To Boost Your ROI </h1>
    <p class="sub" style=" line-height: 1.5;font-size: 18px"> Make money, check how you performed, and make sure your event <br> actually succeeds with these features.
    </p>
  </div>
    <div (click)="slider(1)" class="  subs"[ngStyle]="{'background-color': text==true?'#E5EEF3':'','box-shadow': text==true?'0 4px 8px 0 rgba(0,0,0,0.2)':''}">
      <p><b> Collect Payments with Paypal and Stripe</b><i *ngIf="icon==false" class=" float-end fa fa-angle-up"></i><i
          class="float-end fa fa-angle-down" *ngIf="icon==true"></i></p> <br>
      <!-- <p *ngIf="text==true"> Welcome your attendees with a stunning animated Virtual Lobby. </p> -->
      <p *ngIf="text==true" style="  line-height: 22px;" > Nail your first impression with a beautiful, custom event landing page and registration </p>
    </div>
    <div (click)="slider(2)" class="subs"[ngStyle]="{'background-color': text1==true?'#E5EEF3':'','box-shadow': text1==true?'0 4px 8px 0 rgba(0,0,0,0.2)':''}">
      <p><b> Sell Sponsorships with High ROI </b><i *ngIf="icon1==false" class=" float-end fa fa-angle-up"></i><i
          class="float-end fa fa-angle-down" *ngIf="icon1==true"></i>
      </p> <br>
      <p *ngIf="text1==true" style="  line-height: 22px;"> Make your attendees feel at home. Customizable 3D virtual environments can be modelled after any real life venue! </p>
    </div>
    <div (click)="slider(4)" class="subs"[ngStyle]="{'background-color': text2==true?'#E5EEF3':'','box-shadow': text2==true?'0 4px 8px 0 rgba(0,0,0,0.2)':''}">
      <p> <b>Boost Sales with a Virtual Shopping Cart</b> <i *ngIf="icon2==false" class=" float-end fa fa-angle-up"></i><i
          class="float-end fa fa-angle-down" *ngIf="icon2==true"></i></p> <br>
      <p *ngIf="text2==true" style="  line-height: 22px;"> Imercfy backend system gives you full control of webinar schedules, exhibit booths, user access and more. </p>
    </div>
    <!-- <div (click)="slider(4)" class="subs"[ngStyle]="{'background-color': text3==true?'#E5EEF3':'','box-shadow': text3==true?'0 4px 8px 0 rgba(0,0,0,0.2)':''}">
      <p> <b> Attendance Rates through Email Marketing </b><i *ngIf="icon3==false" class=" float-end fa fa-angle-up"></i><i
          class="float-end fa fa-angle-down" *ngIf="icon3==true"></i></p> <br>
      <p *ngIf="text3==true" style="  line-height: 22px;"> Send custom-designed emails to segmented lists for pre, during, and post-event communications. </p>
    </div>
    <div (click)="slider(5)" class="subs"[ngStyle]="{'background-color': text4==true?'#E5EEF3':'','box-shadow': text4==true?'0 4px 8px 0 rgba(0,0,0,0.2)':''}">
      <p><b> Rest Easy with the Help of Customer Support </b><i *ngIf="icon4==false" class=" float-end fa fa-angle-up"></i><i
          class="float-end fa fa-angle-down" *ngIf="icon4==true"></i></p> <br>
      <p *ngIf="text4==true" style="  line-height: 22px;"> You’re in good hands with a dedicated project manager who will walk you through the process from end to end.</p>
    </div> -->

  </div>


  <!-- <a class="learn-more" style="   text-decoration: none; color: #9e93dd;"> See All Features Of Virtual Event
    &nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a> -->

</div>
</div>
</div>
</div>


<div class=" yellow gh row" >
  <div class="col-10" >
   
<div style="padding-top: 8rem;" class="  row d-flex align-left ">
  <div
    class=" texts  col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 order-xl-2 order-lg-2 order-md-2 order-sm-2  order-2  ">
    <div  class="texts">
      <div
      class=" text  ">
      <h1 id="heads" class="heads">Get Deep Audience Insights <br> With Our Event Reporting </h1>
      <p class="sub" style=" line-height: 1.5;font-size: 18px"> Never wonder again how your event performed. View user <br>behaviour, and see exactly what went well and what didn’t!
      </p>
    </div>
      <div (click)="slider(1)" class="subs"[ngStyle]="{'background-color': text==true?'#E5EEF3':'','box-shadow': text==true?'0 4px 8px 0 rgba(0,0,0,0.2)':''}">
        <p><b> See Real-Time Attendee Stats</b><i *ngIf="icon==false" class=" float-end fa fa-angle-up"></i><i
            class="float-end fa fa-angle-down" *ngIf="icon==true"></i></p> <br>
        <!-- <p *ngIf="text==true"> Welcome your attendees with a stunning animated Virtual Lobby. </p> -->
        <p *ngIf="text==true" > Nail your first impression with a beautiful, custom event landing page and registration </p>
      </div>
      <div (click)="slider(2)" class="subs" [ngStyle]="{'background-color': text1==true?'#E5EEF3':'','box-shadow': text1==true?'0 4px 8px 0 rgba(0,0,0,0.2)':''}">
        <p><b> Review Event Performance with our Reporting Dashboard </b><i *ngIf="icon1==false" class=" float-end fa fa-angle-up"></i><i
            class="float-end fa fa-angle-down" *ngIf="icon1==true"></i>
        </p> <br>
        <p *ngIf="text1==true" style="  line-height: 22px;"> Make your attendees feel at home. Customizable 3D virtual environments can be modelled after any real life venue! </p>
      </div>
      <div (click)="slider(3)" class="subs" [ngStyle]="{'background-color': text2==true?'#E5EEF3':'','box-shadow': text2==true?'0 4px 8px 0 rgba(0,0,0,0.2)':''}">
        <p> <b>Visualize Attendee User Journeys</b> <i *ngIf="icon2==false" class=" float-end fa fa-angle-up"></i><i
            class="float-end fa fa-angle-down" *ngIf="icon2==true"></i></p> <br>
        <p *ngIf="text2==true" style="  line-height: 22px;"> Imercfy backend system gives you full control of webinar schedules, exhibit booths, user access and more. </p>
      </div>
      <div (click)="slider(4)" class="subs" [ngStyle]="{'background-color': text3==true?'#E5EEF3':'','box-shadow': text3==true?'0 4px 8px 0 rgba(0,0,0,0.2)':''}">
        <p> <b> Conduct Advanced Analysis with CSV Data Export</b><i *ngIf="icon3==false" class=" float-end fa fa-angle-up"></i><i
            class="float-end fa fa-angle-down" *ngIf="icon3==true"></i></p> <br>
        <p *ngIf="text3==true" style="  line-height: 22px;"> Send custom-designed emails to segmented lists for pre, during, and post-event communications. </p>
      </div>
      <!-- <div (click)="slider(5)" class="subs" [ngStyle]="{'background-color': text4==true?'#E5EEF3':'','box-shadow': text4==true?'0 4px 8px 0 rgba(0,0,0,0.2)':''}">
        <p><b> Localize Your Global Event </b><i *ngIf="icon4==false" class=" float-end fa fa-angle-up"></i><i
            class="float-end fa fa-angle-down" *ngIf="icon4==true"></i></p> <br>
        <p *ngIf="text4==true" style="  line-height: 22px;"> You’re in good hands with a dedicated project manager who will walk you through the process from end to end.</p>
      </div> -->

    </div>
   


    <!-- <a class="learn-more" style="   text-decoration: none; color: #9e93dd;"> See All Features Of Virtual Event
      &nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a> -->

  </div>
  <div 
    class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 order-xl-2 order-lg-2 order-md-2 order-sm-2  order-2 ">
    <div *ngIf="image1==false" style=" padding-top: 5px; height: 100%;   "><img src="../../assets/landing/toy.png"
        alt="totalhrs" class="column-image" style=" width: 100%; height: 450px;    border-radius: 20px;">
    </div>
    <div *ngIf="image1==true" style=" padding-top: 5px; height: 100%;"><img src={{image}} alt="totalhrs"
        class="column-image" style=" width: 100%; height: 450px;    border-radius: 20px;">
    </div>
  </div>
</div>
</div>
</div>

<div class="" style=" font: 31.5; 
text-align: center;">

    <h1 style="padding-top: 5rem;" class="mb-3" id="heads">Integrate With the Tools You Love</h1>
      <h4 class="mb-5 mt-3" id="heads">Check out some of the top integrations we offer   </h4>
    <div > <img class="img-fluid"  src="../../assets/features/Integrate-With-The-Tools-You-Love-min.webp" alt="">
    </div>
    <!-- <div class=" mgnt mt-2" style=" font: 31.5;  padding-top: 40px;
    text-align: center;">
          <h1 class="hh" id="heads">What Our Customers Are Saying</h1>
          <h1  class="hh" id="heads">See how our features have helped our customers host successful events</h1>
    
        </div> -->
        <!-- <div>
           <video  style= " width: 100%; height: 87%; " preload="none" alt="vFairs - Lobby" poster="" id="lobby-vdo" loop="" muted="" autoplay="" playsinline=""> 
            <source src="../../assets/videos/homepagefinal_updated-07-final.mp4" type="video/mp4">
          </video>
          <video  style= " width: 100%; height: 87%; " preload="none" alt="vFairs - Lobby" poster="" id="lobby-vdo" loop="" muted="" autoplay="" playsinline=""> 
            <source src="../../assets/videos/homepagefinal_updated-07-final.mp4" type="video/mp4">
          </video>
          <video  style= " width: 100%; height: 87%; " preload="none" alt="vFairs - Lobby" poster="" id="lobby-vdo" loop="" muted="" autoplay="" playsinline=""> 
            <source src="../../assets/videos/homepagefinal_updated-07-final.mp4" type="video/mp4">
          </video>
          
        </div> -->

    <div style="text-align: center; padding-top: 3rem;" >
    
      <div style="color: red;" >See All Customer Video <i class="fa fa-arrow-right"></i></div>
    </div>
    </div>

    <div class="" style=" font: 31.5; 
text-align: center;">

    <h1 style="padding-top: 5rem;" class="mb-3" id="heads">What Our Customers Are Saying</h1>
      <h4 class="mb-5 mt-3" id="heads">See how our features have helped our customers host successful <br> events  </h4>
      <div class="imggs row" >
        <div class=" col-10"  >
            <div  class= " hh  row row-cols-1 row-cols-md-3 g-4">
              <div class=" boxing  grid-content ">
                <div class="card h-100 flyer border-0">
                  <!-- <video  style= " width: 100%; height: 87%; " preload="none" alt="vFairs - Lobby" poster="" id="lobby-vdo" loop="" muted="" autoplay="" playsinline=""> 
                    <source src="../../assets/videos/homepagefinal_updated-07-final.mp4" type="video/mp4">
                  </video> -->
                  <img src="../../assets/landing/Wedding1.jpg" class="w-100 "
                    style="     border-radius: 10px; background-color: white;height: 58%; margin: 0;">
              
                </div>
              </div>
              <div class=" boxing  grid-content ">
                <div class="card h-100 flyer border-0">
                  <!-- <video  style= " width: 100%; height: 87%; " preload="none" alt="vFairs - Lobby" poster="" id="lobby-vdo" loop="" muted="" autoplay="" playsinline=""> 
                    <source src="../../assets/videos/homepagefinal_updated-07-final.mp4" type="video/mp4">
                  </video> -->
                  <img src="../../assets/landing/Wedding1.jpg" class="w-100 "
                    style="     border-radius: 10px; background-color: white;height: 58%; margin: 0;">
              
                </div>
               
              </div>
              <div class=" boxing  grid-content ">
                <div class="card h-100 flyer border-0">
                  <!-- <video  style= " width: 100%; height: 87%; " preload="none" alt="vFairs - Lobby" poster="" id="lobby-vdo" loop="" muted="" autoplay="" playsinline=""> 
                    <source src="../../assets/videos/homepagefinal_updated-07-final.mp4" type="video/mp4">
                  </video> -->
                  <img src="../../assets/landing/Wedding1.jpg" class="w-100 "
                    style="     border-radius: 10px; background-color: white;height: 58%; margin: 0;">
              
                </div>
               
             
              </div>
              <div>See All Customer Video <i class="fa fa-arrow-right"></i></div>
        
            </div>
          </div>
        
        </div>
   
      </div>

      <div class="" style=" font: 31.5; 
      text-align: center;">
      
          <h1 style="padding-top: 5rem;" class="mb-3" id="heads">Case Studies</h1>
            <h4 class="mb-5 mt-3" id="heads">See how our customers have achieved success through virtual events.  </h4>
            <!-- <div class=" row" >
            <div style="justify-content: center;" class="d-flex" >
            <div><img style="width:461px; height: 251px;" src="../../assets/features/Blog-Featured-Thumbnails-2022-07-05T033127.webp" alt=""></div>
            <div><img style="width:461px; height: 251px;" src="../../assets/features/Blog-Featured-Thumbnails-2022-07-06T181743.webp" alt=""></div>
          </div>
          
         
            </div> -->
          </div>
          <div id="sectionWrapper" class=" bg-image">
            <div class="container">
             <div class="row  align-middle">
               <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6  ">
                 <img  src="../../assets/features/Blog-Featured-Thumbnails-2022-07-05T033127.webp" alt="Results are stronger when everyone is aligned" class=" img-fluid column-image"
                     style="max-width: 100%;">
                     <h5  >Mitel User Group 6th Annual Virtual Event Showcases Mitel’s Products & Services With Array of vfairs Features</h5>
                     <h6>Read Full Story&nbsp;&nbsp;<i class="fa fa-angle-right"></i></h6>
               </div>
               <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6  ">
                <img  src="../../assets/features/Blog-Featured-Thumbnails-2022-07-06T181743.webp" alt="Results are stronger when everyone is aligned" class=" img-fluid column-image"
                    style="max-width: 100%;">
                    <h5>Seaweed Around The Clock Discusses Sustainable Seaweed Projects, With vFairs Virtual Event Solutions</h5>
                    <h6>Read Full Story&nbsp;&nbsp;<i class="fa fa-angle-right"></i></h6>

              </div>
            </div>
            </div>
                          <div style="padding-top: 5rem;" class="text-center" >   See All Customer Video <i class="fa fa-arrow-right"></i></div>

            </div>
          
            <div class="imggs row" >
              <div class=" col-10 ">
                <div style="padding-top: 110px;" class=" mt-8 row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 ">
                    <div class="d-flex-column">
                      <div>  <img style="width: 150px;" src="../../assets/landing/imercfy-09.png" alt=""> </div>
                      <div style="    padding-top: 15px; padding-bottom: 15px;       " >Highest rated hybrid, in-person and <br> virtual events platform
              
                      </div>
                      <button style="align-items: center;text-align: center; width: 150px; " class="btn btn next  my-2 mx-2 my-sm-0  "
                        type="button">Talk to Us </button>
                    </div>
                  </div>
              
                  <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div id="sectionWrapper" class=" mt-5 logo-row   bg-image">
              
                      <div class="">
                        <div class="row  align-center-middle ">
                          <div class="col large-auto medium-auto small-3 text-center mb-3">
                            <img style="width: 100px;"
                              src="https://www.vfairs.com/wp-content/uploads/2022/03/capterra-badge2-min-1-1.webp"
                              class="full-width-image" alt="Logo BambooHR">
                          </div>
                          <div class="col large-auto medium-auto small-3 text-center mb-3">
                            <img style="width: 100px;"
                              src="https://www.vfairs.com/wp-content/themes/vfairs/assets/img/footer/customer-love-sourceforge-badge-min.webp"
                              class="full-width-image" alt="Logo Discord">
                          </div>
                          <div class="col large-auto medium-auto small-3 text-center mb-3">
                            <img src="../../assets/landing/leader-spring-2022.svg" class="full-width-image" alt="Logo Slack">
                          </div>
                          <div class="col large-auto medium-auto small-3 text-center mb-3">
                            <img src="../../assets/landing/leader-spring-2022.svg" class="full-width-image" alt="Logo logo-">
                          </div>
                          <div class="col large-auto medium-auto small-3 text-center mb-3">
                            <img src="../../assets/landing/leader-spring-2022.svg" class="full-width-image" alt="Logo logo-">
                          </div>
              
                        </div>
                      </div>
                    </div>
              
                  </div>
                </div>
              </div>
              </div>