.sub{
    font-family: Arial, Helvetica, sans-serif !important;
  
  }
  h1{
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 48px;
  
  }
  p{
    font-family: Arial, Helvetica, sans-serif ;
  }

  .next{
    margin: 0 0 0 12px;
    font-size: 16px;
    color: #fff;
    font-family: sans-serif;
    // background-color: #f67a71; 
    background: linear-gradient(to left, #df9dba 15%, #9e93dd 75%);

    border-radius: 100px;
    width: 200px;
    height: 40px;
    // padding: 0 17px !important;
    }


    //1111111111111111111


.gh{
  align-items: center;
  justify-content: center;
}

.subs{
  max-width: 650px;
  line-height: 14px;
  border-radius: 10px;
  padding: 10px;
}
.mgnt{
  background-color: #fff7f5;
}
.green{
  background-color: #f8fff0;
}

.yellow{
  background-color: #fffbf2;
}
.hh{
  text-align: center;
  align-items: center;
  justify-content: center;
}
.vid{
  text-align: center;
  align-items: center;
  justify-content: center;
}
.imggs{
  justify-content: center;
}